
@{
    int currentYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="real estate, Portland, homes, single-family, Hillsboro, Forest Grove, Cornelius, Aloha, Beaverton" />
    <meta name="description" content="Get friendly and hassle-free real estate services whether you are interested in buying or selling from our knowledgeable local team." />
    <title>@ViewData["Title"] | Super Portland Listings</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/assets/css/main-styles.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="mobile-nav__menu"></div>
    <nav class="mobile-nav nav">
        <ul class="nav__list">
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Sellers">Sellers</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Communities">Communities</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="OurTeam">Our Team</a>
            </li>
            <li class="nav__nav-item">
                <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
            </li>
        </ul>
    </nav>
    <div class="body-wrapper">
        <header class="header">
            <div class="inner-wrapper">
                <div class="logo-container">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.png" alt="Super Portland Listings logo" />
                    </a>
                </div>
                <h1 class="main-title"><a class="main-title__title" asp-area="" asp-controller="Home" asp-action="Index">Super Portland Listings</a></h1>
                <nav class="desktop-nav nav">
                    <ul class="nav__list">
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Sellers">Sellers</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Communities">Communities</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="OurTeam">Our Team</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__contact-social-info">
                    <div class="header__telephone">503-272-3322</div>
                    <div class="header__social-container">
                        <div class="header__social-item">
                            <a class="header__social-item__link" href="#">
                                <i class="fab fa-facebook-f fa-2x header__social-item__social-icon"><span class="sr-only">Facebook</span></i>
                            </a>
                        </div>
                        <div class="header__social-item">
                            <a class="header__social-item__link" href="#">
                                <i class="fab fa-linkedin fa-2x header__social-item__social-icon"><span class="sr-only">LinkedIn</span></i>
                            </a>
                        </div>
                        <div class="header__social-item">
                            <a class="header__social-item__link" href="#">
                                <i class="fab fa-twitter fa-2x header__social-item__social-icon"><span class="sr-only">Twitter</span></i>
                            </a>
                        </div>
                        <div class="header__social-item">
                            <a class="header__social-item__link" href="#">
                                <i class="fab fa-instagram fa-2x header__social-item__social-icon"><span class="sr-only">Instagram</span></i>
                            </a>
                        </div>
                        <div class="header__social-item">
                            <a class="header__social-item__link" href="#">
                                <i class="fab fa-youtube fa-2x header__social-item__social-icon"><span class="sr-only">YouTube</span></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="inner-wrapper">
                @RenderBody()
            </div>
        </div>
        <footer class="footer">
            <div class="inner-wrapper">
                <div class="footer__copyright-info">
                    <span> &copy; @currentYear Super Portland Listings, Inc.  All rights reserved.</span>
                </div>
                <div class="content-row">
                    <div class="col-sma-4">
                        <div class="footer__message">
                            <h3 class="footer__subheading">Real Estate is What We Do</h3>
                            <p>We make buying and selling a house hassle free and easy for our customers in the Portland metro area.</p>
                            <h3 class="footer__subheading">Connect with Us</h3>
                            <div class="footer__social-container">
                                <div class="footer__social-item">
                                    <a class="footer__social-item__link" href="#">
                                        <i class="fab fa-facebook-f fa-2x footer__social-item__social-icon"><span class="sr-only">Facebook</span></i>
                                    </a>
                                </div>
                                <div class="footer__social-item">
                                    <a class="footer__social-item__link" href="#">
                                        <i class="fab fa-linkedin fa-2x footer__social-item__social-icon"><span class="sr-only">LinkedIn</span></i>
                                    </a>
                                </div>
                                <div class="footer__social-item">
                                    <a class="footer__social-item__link" href="#">
                                        <i class="fab fa-twitter fa-2x footer__social-item__social-icon"><span class="sr-only">Twitter</span></i>
                                    </a>
                                </div>
                                <div class="footer__social-item">
                                    <a class="footer__social-item__link" href="#">
                                        <i class="fab fa-instagram fa-2x footer__social-item__social-icon"><span class="sr-only">Instagram</span></i>
                                    </a>
                                </div>
                                <div class="footer__social-item">
                                    <a class="footer__social-item__link" href="#">
                                        <i class="fab fa-youtube fa-2x footer__social-item__social-icon"><span class="sr-only">YouTube</span></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sma-2">
                        <div class="footer__navigation-section">
                            <h3 class="footer__subheading--browse">Browse</h3>
                            <nav class="footer-nav">
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Sellers">Sellers</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="OurTeam">Our Team</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Info</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sma-3">
                        <div class="footer__location-and-hours">
                            <h3 class="footer__subheading">Location and Hours</h3>
                            <p>44082 SW Hillsboro 97123</p>
                            <p>Mon-Fri 8 am - 6 pm</p>
                            <p>Sat: 9 am - 5 pm</p>
                            <p>503-272-3322</p>
                        </div>
                    </div>
                    <div class="col-sma-3">
                        <div class="footer__team">
                            <h3 class="footer__subheading">Meet Our Team</h3>
                            <div class="footer__team__agent-photo"><a class="footer__team__agent-photo__link" asp-area="" asp-controller="Home" asp-action="OurTeam"></a></div>
                            <h4 class="footer__team__agent-name"><a class="footer__team__agent-name__link" asp-area="" asp-controller="Home" asp-action="OurTeam">Kelsey Smith</a></h4>
                            <div class="footer__team__agent-description">
                                <p>Kelsey is highly knowledgeable about the local market and happy to work with your budget for buying or selling!</p>
                            </div>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/assets/javascript/javascript-functions.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
