
@{
    int currentYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Super Portland Listings</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/main-styles.css" />
</head>
<body>
    <div class="body-wrapper">
        <header>
            <div class="inner-wrapper">
                <h1 class="main-title"><a class="main-title__title" asp-area="" asp-controller="Home" asp-action="Index">Super Portland Listings</a></h1>
                <nav class="nav">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="inner-wrapper">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="inner-wrapper">
                <div class="footer__date">
                    <span> &copy; @currentYear - Super Portland Listings</span>
                </div>
                <div class="footer__nav">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Info</a>
                </div>
            </div>

            
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
