
@{
    int currentYear = DateTime.Now.Year;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="real estate, Portland, homes, single-family, Hillsboro, Forest Grove, Cornelius, Aloha, Beaverton" />
    <meta name="description" content="Get friendly and hassle-free real estate services whether you are interested in buying or selling from our knowledgeable local team." />
    <title>@ViewData["Title"] | Super Portland Listings</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="~/assets/css/main-styles.css" />
</head>
<body>
    <div class="body-wrapper">
        <header class="header">
            <div class="inner-wrapper">
                <div class="logo-container">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.png" alt="Super Portland Listings logo" />
                    </a>
                </div>
                <h1 class="main-title"><a class="main-title__title" asp-area="" asp-controller="Home" asp-action="Index">Super Portland Listings</a></h1>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="Sellers">Sellers</a>
                        </li>
                        <li class="nav__nav-item">
                            <a class="nav__nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="inner-wrapper">
                @RenderBody()
            </div>
        </div>

        <footer class="footer">
            <div class="inner-wrapper">
                <div class="footer__copyright-info">
                    <span> &copy; @currentYear Super Portland Listings, Inc.  All rights reserved.</span>
                </div>
                <div class="content-row">
                    <div class="col-sma-4">
                        <div class="footer__message">
                            <h3 class="footer__subheading">Real Estate is What We Do</h3>
                            <p>We make buying and selling a house hassel free and easy for our customers in the Portland metro area.</p>
                        </div>
                    </div>
                    <div class="col-sma-2">
                        <div class="footer__navigation-section">
                            <h3 class="footer__subheading--browse">Browse</h3>
                            <nav class="footer-nav">
                                <ul class="footer-nav__list">
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Listings">Listings</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Sellers">Sellers</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                                    </li>
                                    <li class="footer-nav__nav-item">
                                        <a class="footer-nav__nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Info</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sma-3">
                        <div class="footer__location-and-hours">
                            <h3 class="footer__subheading">Location and Hours</h3>
                            <p>44082 SW Hillsboro 97123</p>
                            <p>Mon-Fri 8:00am-6:00pm</p>
                            <p>Sat: 9:00am-5:00pm</p>
                        </div>
                    </div>
                    <div class="col-sma-3">
                        <div class="footer__staff">
                            <h3 class="footer__subheading">Our Staff</h3>
                            <h4 class="footer__staff__agent-name">Kelsey Smith</h4>
                            <div class="footer__staff__agent-photo"></div>
                            <p>Kelsey is highly knowledgeable about the local market and happy to work with your budget for buying or selling!</p>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
