
@{
    ViewData["Title"] = "About Us";
}

<div class="content-row">
    <div class="col-sma-12">
        <h2>About Us</h2>
        <p>We are Super Portland Listings, a knowledgeable real estate agency in the western Portland Oregon metro area specializing in single family homes.</p>
        <p>Four real estate brokers established Super Portland Listings in 1997 to combine their skills and sell single family homes in the Portland area.</p>
    </div>
</div>
