
@{
    ViewData["Title"] = "Communities";
}

<div class="content-row">
    <div class="col-sma-6">
        <h2>Communities</h2>
        <p>We proudly serve communities in the Portland area especially on the western metro area.  Communities we offer real estate services to include Forest Grove, Cornelius,
        Hillsboro, Aloha, Beaverton, and more.</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image communities">

        </div>
    </div>
</div>