
@{
    ViewData["Title"] = "Communities";
}

<div class="content-row">
    <div class="col-sma-12">
        <h2>Communities</h2>
        <p>We proudly serve communities in the Portland area especially on the western metro area.  Communities we offer real estate services to include Forest Grove, Cornelius,
        Hillsboro, Aloha, Beaverton, and more.</p>
    </div>
</div>
<div class="content-row">
    <div class="community col-sma-4 col-lar-3 zero">
        <div class="community__name">Forest Grove</div>
        <div class="community__background-image"></div>
        <div class="community__description">Forest Grove is a city located in the far western Portland metro area.</div>
        <div class="community__listings-link"><a href="Listings?city=Forest Grove">See listings in Forest Grove</a></div>
    </div>
    <div class="community col-sma-3 one">
        <div class="community__name">Cornelius</div>
        <div class="community__background-image"></div>
        <div class="community__description">Cornelius is a city located in the far western Portland metro area.</div>
        <div class="community__listings-link"><a href="Listings?city=Cornelius">See listings in Cornelius</a></div>
    </div>
    <div class="community col-sma-3 two">
        <div class="community__name">Hillsboro</div>
        <div class="community__background-image"></div>
        <div class="community__description">Hillsboro is a town located in the western metro area.</div>
        <div class="community__listings-link"><a href="Listings?city=Hillsboro">See listings in Hillsboro</a></div>
    </div>
    <div class="community col-sma-3 three">
        <div class="community__name">Aloha</div>
        <div class="community__background-image"></div>
        <div class="community__description">Aloha is an unincorporated community located in the western metro area.</div>
        <div class="community__listings-link"><a href="Listings?city=Aloha">See listings in Aloha</a></div>
    </div>
    <div class="community col-sma-3 four">
        <div class="community__name">Beaverton</div>
        <div class="community__background-image"></div>
        <div class="community__description">Beaverton is a city located in the western metro area.</div>
        <div class="community__listings-link"><a href="Listings?city=Beaverton">See listings in Beaverton</a></div>
    </div>
</div>