
@{
    ViewData["Title"] = "Error 404";
}

<div class="content-row">
    <div class="col-sma-6">
        <h2>404 Error</h2>
        <p>We're sorry, that page doesn't appear to exist.  Please visit one of the links in the nav menu to return to another page!</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image four-hundred-four">

        </div>
    </div>
</div>
