
@{
    ViewData["Title"] = "Error 500";
}

    <div class="content-row">
        <div class="col-sma-12">
            <h2>500 Error</h2>
            <p>We're sorry, there appears to be an internal server error.  Please visit one of the links in the nav menu to return to another page!</p>
        </div>
    </div>
