@{
    ViewData["Title"] = "Home Page";
}

<div class="content-row">
    <div class="col-sma-12 page-content">
        <h2>Your friendly Portland area real estate company!</h2>
        <p>We sell individual homes in the Portland Metro Area, especially the western portions including Hillsboro, Forest Grove, Cornelius, Beaverton, Aloha, Portland, and more.</p>
        <p>Right now we have over 100 listings in the area.</p>
    </div>
</div>
<div class="content-row">
    <h3 class="content__heading">Check out some of our Listings!</h3>
    <div class="col-sma-4">
        <div class="index-house zero">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
    <div class="col-sma-4">
        <div class="index-house one">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
    <div class="col-sma-4">
        <div class="index-house two">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
</div>
<div class="content-row">
    <div class="col-sma-12 page-content">
        <h3>We Know the Market</h3>
        <p>Our agents live here and know the market and reasonable price range of houses.  They are fair to both the seller and the buyer.  We frequntly hear sellers and buyers telling us after a
        sale about how easy we were to work with!</p>
        </div>
    </div>
