@{
    ViewData["Title"] = "Home";
}

<div class="content-row">
    <div class="col-sma-12 page-content">
        <h2>Your friendly Portland area real estate company!</h2>
        <p>We sell individual homes in the Portland Metro Area, especially the western portions including Hillsboro, Forest Grove, Cornelius, Beaverton, Aloha, and more.</p>
        <p>We have multiple listings available.</p>
    </div>
</div>
<div class="content-row">
    <h3 class="content__heading">Check out some of our Listings!</h3>
    <div class="col-sma-4">
        <div class="index-house zero">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
    <div class="col-sma-4">
        <div class="index-house one">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
    <div class="col-sma-4">
        <div class="index-house two">
            <a href="/Home/Listings" class="index-house__link"></a>
        </div>
    </div>
</div>
<div class="content-row">
    <div class="col-sma-12 page-content">
        <h3>We Know the Market</h3>
        <p>
            Our agents live in the Portland area and know the market!  We are fair to the seller and the buyer.  We frequntly hear sellers and buyers telling us after a
            sale about how easy we were to work with!
        </p>
    </div>
</div>
