
@{
    ViewData["Title"] = "Our Team";
}

<div class="content-row">
    <div class="col-sma-12">
        <h2>We Make Real Estate Hassle-Free and Painless</h2>
        <p>All of our agents are friendly, knowledgeable, and licensed experts in the real estate market in the Portland area.  Read more about our superb team.</p>
    </div>
</div>


