
@{
    ViewData["Title"] = "Our Team";

    teammember teamMember0 = new teammember("Kelsey Smith", "zero", "Lead Real Estate Agent", "", "Kelsey is the Lead Real Estate Agent and has been with Super Portland Listings for over 5 years.  " +
        "She is known to put her clients at ease and make house shopping fun.  Kelsey is also an avid botanist and likes animals.");
    teammember teamMember1 = new teammember("Alex Contreras", "one", "Lead Real Estate Agent", "", "Alex is a Lead Real Estate Agent and has been with Super Portland Listings for over 8 years.  " +
        "He has a knack for quickly understanding clients' needs.  Alex is also an avid movie and documentary fan.");
    teammember teamMember2 = new teammember("Kelly Rands", "two", "CEO and Owner", "", "Kelly got into real estate because she liked architecture, people, and sales.  She found a knack for " +
        "connecting buyers and sellers especially for homes with special features.  Kelly joined Super Portland Listings in 2005 and since 2012 has been the CEO and Owner.");
    teammember teamMember3 = new teammember("Adam Evanton", "three", "Real Estate Agent", "", "Adam is one of our newer agents, having recently obtained his real estate license.  He is quickly " +
        "learning the business and even completed a transaction recently.  Adam also likes cars and has been known to visit a car show or two in the area.");
    teammember teamMember4 = new teammember("Brian Anderson", "four", "Real Estate Agent", "", "Brian joined our team four years ago and is well known at conferences.  He is especially focused " +
        "on sellers and knows the big and little things sellers can do to prep their home for the best possible price and easiest sale.  Brian is also an avid guitarist.");
    teammember teamMember5 = new teammember("Heather Richards", "five", "Real Estate Agent", "", "Heather joined our team three years ago with a specialty in buying.  She is currently one of " +
        "our top agents and is especially knowledgeable about neighborhood amenities. Heather is also an avid swimmer and runner.");

    List<teammember> theTeamMembers = new List<teammember>();
    theTeamMembers.Add(teamMember0);
    theTeamMembers.Add(teamMember1);
    theTeamMembers.Add(teamMember2);
    theTeamMembers.Add(teamMember3);
    theTeamMembers.Add(teamMember4);
    theTeamMembers.Add(teamMember5);
}

<div class="content-row">
    <div class="col-sma-12">
        <h2>We Make Real Estate Hassle-Free and Painless</h2>
        <p>
            All of our agents are friendly, knowledgeable, and licensed experts in the real estate market in the Portland area.  Read more about our superb team, and give us a call anytime at
            503-272-3322.
        </p>
    </div>
</div>

<div class="content-row">
    @for (var i = 0; i < theTeamMembers.Count; i++)
    {
        <div class="col-sma-6 col-lar-3 team-member @theTeamMembers[i].classCSS">
            <div class="team-member__name">@theTeamMembers[i].name</div>
            <div class="team-member__photo"></div>
            <div class="team-member__title">@theTeamMembers[i].title</div>
            <div class="team-member__description">
                <p>@theTeamMembers[i].description</p>
            </div>
            <div class="clear-both"></div>
        </div>
    }
</div>
