@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We respect every customers right to privacy.   We do use cookies like many sites.  We don't use any data you provide with third parties.</p>
