@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="content-row">
    <div class="col-sma-12">
        <h2>Our Privacy Policy</h2>
        <p>We respect every customers right to privacy.   We do use cookies like many sites.  We don't use any data you provide with third parties.</p>
    </div>
</div>
