
/***############### General Styling Reset and Setup: reset, grid, typography, general classes and divs.  Mobile-first styling setup. ***/
/***########## Reset the styles, add box-sizing: border-box. ***/
html, body, div, span, p, img, a, br, ul, li, ol, header, nav, footer, table, button, label, input, textarea, select, tr, td, th, h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/*For ease of development and maintainability, combine an element's width, padding, margin, and border into a final value, and enable this on all elements. */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***########## Grid Column layout available.  Desktop and mobile settings.  Automatically make columns full width below a certain width. Very-small (vsm) 
columns display at their designated widths at all device sizes, small (sma) above the first breakpoint, large (lar) above the next breakpoint. ***/
.content {
    width: 100%;
    padding: 20px 10px 20px 10px;
}

.content-row {
    width: 100%;
    padding: 0;
}

    .content-row:after {
        content: "";
        display: block;
        clear: both;
    }

    .content-row.no-content-row-padding {
        padding: 0;
    }

.col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12,
.col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.col-vsm-1, .col-vsm-2, .col-vsm-3, .col-vsm-4, .col-vsm-5, .col-vsm-6, .col-vsm-7, .col-vsm-8, .col-vsm-9, .col-vsm-10, .col-vsm-11, .col-vsm-12 {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-vsm-1 {
    width: 8.333333%;
}

.col-vsm-2 {
    width: 16.666667%;
}

.col-vsm-3 {
    width: 25%;
}

.col-vsm-4 {
    width: 33.333333%;
}

.col-vsm-5 {
    width: 41.666667%;
}

.col-vsm-6 {
    width: 50%;
}

.col-vsm-7 {
    width: 58.33333%;
}

.col-vsm-8 {
    width: 66.666667%;
}

.col-vsm-9 {
    width: 75%;
}

.col-vsm-10 {
    width: 83.333333%;
}

.col-vsm-11 {
    width: 91.666667%;
}

.col-vsm-12 {
    width: 100%;
}

/* Switch to 12 columns at 700px for small columns and 1200px for large columns. */
@media only screen and (min-width: 700px) {
    .content-row {
        padding: 10px 0 10px 0;
    }

        .content-row:first-of-type {
            padding-top: 0;
        }

        .content-row:last-of-type {
            padding-bottom: 0;
        }

    .col-sma-1, .col-sma-2, .col-sma-3, .col-sma-4, .col-sma-5, .col-sma-6, .col-sma-7, .col-sma-8, .col-sma-9, .col-sma-10, .col-sma-11, .col-sma-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sma-1 {
        width: 8.333333%;
    }

    .col-sma-2 {
        width: 16.666667%;
    }

    .col-sma-3 {
        width: 25%;
    }

    .col-sma-4 {
        width: 33.333333%;
    }

    .col-sma-5 {
        width: 41.666667%;
    }

    .col-sma-6 {
        width: 50%;
    }

    .col-sma-7 {
        width: 58.33333%;
    }

    .col-sma-8 {
        width: 66.666667%;
    }

    .col-sma-9 {
        width: 75%;
    }

    .col-sma-10 {
        width: 83.333333%;
    }

    .col-sma-11 {
        width: 91.666667%;
    }

    .col-sma-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .content-row {
        padding: 25px 0 25px 0;
    }

        .content-row:first-of-type {
            padding-top: 0;
        }

        .content-row:last-of-type {
            padding-bottom: 0;
        }

    .col-lar-1, .col-lar-2, .col-lar-3, .col-lar-4, .col-lar-5, .col-lar-6, .col-lar-7, .col-lar-8, .col-lar-9, .col-lar-10, .col-lar-11, .col-lar-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lar-1 {
        width: 8.333333%;
    }

    .col-lar-2 {
        width: 16.666667%;
    }

    .col-lar-3 {
        width: 25%;
    }

    .col-lar-4 {
        width: 33.333333%;
    }

    .col-lar-5 {
        width: 41.666667%;
    }

    .col-lar-6 {
        width: 50%;
    }

    .col-lar-7 {
        width: 58.33333%;
    }

    .col-lar-8 {
        width: 66.666667%;
    }

    .col-lar-9 {
        width: 75%;
    }

    .col-lar-10 {
        width: 83.333333%;
    }

    .col-lar-11 {
        width: 91.666667%;
    }

    .col-lar-12 {
        width: 100%;
    }
}

/***########## General Styling and Typography settings. ***/
body {
    background-color: #f3f3f3;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

p {
    padding-bottom: 16px;
    line-height: 22.4px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    font-size: 0px;
}

/*Don't allow images to go offscreen horizontally */
a:link, a:visited {
    color: #000000;
}

a:hover {
    color: #0000cc;
}

input, textarea, select {
    outline: 0;
    transition: 0.2s;
}

    input:focus, textarea:focus, select:focus {
        box-shadow: 0px 0px 3px 3px rgba(0, 102, 204, 0.6);
        transition: 0.2s;
    }

.body-wrapper {
    position: relative;
    width: 100%;
    min-width: 300px;
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

@media only screen and (min-width: 500px) {
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1600px) {
}

/***########## General layout settings and general classes. ***/
.justify-content > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* General Resuable Classes */
.sr-only {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
}

.width-100-percent {
    width: 100%;
}

.clear-both {
    clear: both;
}

/* Use .inner-wrapper for layouts where you want to have backgrounds go out of the site 'border' provided by .body-wrapper '*/
.inner-wrapper {
    position: relative;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 700px) {
    .float-right-above-a-breakpoint {
        float: right;
    }
}

/* Form Validation classes */
.javascript-validation-results-contact-us {
    display: none;
    font-weight: bold;
}

    .javascript-validation-results-contact-us.show {
        display: block;
    }

.required-field-needed {
    box-shadow: 0px 0px 3px 3px rgba(204, 0, 0, 1);
}
/***########## End of General Styling Reset and Setup ****/





/***############### Beginning of Website-specific style sheet. ****/

/*Brand Colors: Adjacent/mono chromatic color scheme, 15 deg. separation. */
:root {
    --color-1: #1186cc; /* mid blue with some green      (17, 134, 204)     */
    --color-2: #1a5ad0; /* medium dark blue              (26, 90, 208)      */
    --color-3: #06cab5; /* green-blue                    (6, 202, 181)      */
    --color-1-semi-opacity: rgba(17, 134, 204, 0.8);
    --color-2-semi-opacity: rgba(26, 90, 208, 0.8);
    --color-3-semi-opacity: rgba(6, 202, 181, 0.8);
    --color-2-low-opacity: rgba(26, 90, 208, 0.25);
    --color-3-low-opacity: rgba(6, 202, 181, 0.25);
    --color-3-very-low-opacity: rgba(6, 202, 181, 0.08);
}

@media only screen and (max-width: 700px) {
    .col-vsm-1, .col-vsm-2, .col-vsm-3, .col-vsm-4, .col-vsm-5, .col-vsm-6, .col-vsm-7, .col-vsm-8, .col-vsm-9, .col-vsm-10, .col-vsm-11, .col-vsm-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

input, textarea, select {
    padding: 10px;
    border: 1px solid #000000;
    outline: 0;
    border-radius: 7px;
    transition: box-shadow 0.4s ease-in;
}

    input:focus, textarea:focus, select:focus {
        box-shadow: 0 0 4px 6px var(--color-1-semi-opacity);
        transition: box-shadow 0.4s ease-in;
    }

a, a:link, a:visited, a:hover {
    transition: 0.4s ease-in;
    font-weight: bold;
}

    a, a:link, a:visited {
        color: var(--color-2);
    }

        a:hover {
            color: var(--color-3);
        }

button {
    padding: 10px;
    cursor: pointer;
}

h2 {
    color: var(--color-2);
    font-weight: bold;
    padding: 0 0 12px 0;
}

h3 {
    color: var(--color-3);
    padding: 0 0 12px 0;
    text-align: left;
}

h4 {
    padding: 0 0 12px 0;
}


/*General classes*/
.body-wrapper.hide {
    display: none;
}

.content__heading {
    text-align: center;
}


/* General sitewide sections */
.form {
}

.form__input-container {
    padding: 10px;
}

    .form__input-container:last-of-type {
        padding-bottom: 0;
    }

.form__label {
    display: inline-block;
    float: left;
    width: 100%;
    padding-bottom: 6px;
}

.form__input {
    display: inline-block;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.form__textarea {
    min-height: 100px;
}

.form__submit-button {
    padding: 15px;
}

    .form__submit-button:hover {
    }

.form-response {
    padding-bottom: 20px;
    font-style: italic;
}

.button-container {
    border: 2px solid var(--color-1);
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--color-1);
    background: linear-gradient(170deg, var(--color-1) 35%, #f0f0f0 100%);
    color: #ffffff;
    cursor: pointer;
    transition: 0.4s ease-in;
}

    .button-container:hover {
        background-color: var(--color-1-semi-opacity);
        box-shadow: 0 0 4px 6px var(--color-3-semi-opacity);
        transition: 0.4s ease-in;
    }

.background-hero-image {
    height: 240px;
}

/*Header*/
.header {
    background: linear-gradient(var(--color-3-low-opacity), var(--color-3-very-low-opacity), rgba(255, 255, 255, 1));
}

.logo-container {
    position: absolute;
    top: 15px;
    left: 65px;
    width: 45px;
    height: 45px;
}

.main-title {
    display: block;
    padding: 15px 20px 20px 125px;
    text-align: right;
}

    .main-title .main-title__title {
        font-size: inherit;
        font-weight: bold;
        color: var(--color-1);
    }


/*Nav*/
.mobile-nav {
    display: block;
    position: absolute;
    top: 80px;
    left: 5px;
    opacity: 0;
    z-index: -10;
}

.desktop-nav { 
    display: none;
}

.mobile-nav.show {
    z-index: 10;
    opacity: 1;
    transition: 0.3s ease-in;
}

.mobile-nav__menu {
    display: block;
    position: absolute;
    top: 30px;
    left: 10px;
    width: 40px;
    height: 16px;
    z-index: 10;
    background: url('/assets/images/mobile-nav-menu.png') 50% 30%/cover no-repeat;
    cursor: pointer;
}

    .mobile-nav__menu.show {
        left: 20px;
        width: 19px;
        height: 25px;
        background: url('/assets/images/mobile-nav-menu-close.png') 50% 30%/cover no-repeat;
    }

.nav {
    padding: 15px 15px 10px 15px;
}

.nav__list {
    font-size: 0;
}

.nav__nav-item {
    display: block;
    padding-bottom: 15px;
}

.nav__list.show .nav__nav-item {

}


/*Footer*/
.footer {
    padding: 50px 20px;
    background-color: rgb(236, 237, 239);
}

.footer__subheading {
}

.footer__copyright-info {
    padding-bottom: 30px;
    text-align: center;
}

.footer__message {
    padding-bottom: 30px;
}

.footer__navigation-section {
    padding-bottom: 30px;
}

.footer-nav {
}

.footer-nav__list {
}

.footer-nav__nav-item {
    display: block;
    padding-bottom: 12px;
}

.footer-nav__nav-link {
}

.footer__location-and-hours {
    padding-bottom: 30px;
}

.footer__team {
}

.footer__team__agent-name {
}

.footer__team__agent-name__link {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-1);
}

.footer__team__agent-photo {
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 5px;
    background: url('/assets/images/real-estate-agent-kelsey-smith.jpg') 50% 30%/cover no-repeat;
}
.footer__team__agent-photo__link {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__team__agent-description {
}


/*Index page*/
.index-house {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.index-house__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.index-house.zero {
    background: url('/assets/images/house0.jpeg') 50% 30%/cover no-repeat;
}

.index-house.one {
    background: url('/assets/images/house1.jpeg') 50% 30%/cover no-repeat;
}

.index-house.two {
    background: url('/assets/images/house2.jpeg') 50% 30%/cover no-repeat;
}


/*About page*/
.background-hero-image.about-us {
    background: url('/assets/images/key-up-close-in-door.jpeg') 50% 30%/cover no-repeat;
}


/*Listings page*/
.listings__content-subtitle {
    padding-left: 15px;
    font-weight: bold;
}

.search-listings {

}

.search-listings__subsection {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.search-listings__label {
    display: block;
    padding-bottom: 2px;
}

.search-listings__search {
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-1);
    color: #ffffff;
    cursor: pointer;
}

.search-listings__show-all {
    padding: 15px;
    font-weight: bold;
    background-color: var(--color-1);
    color: #ffffff;
    cursor: pointer;
}

.search-listings__search-response {
    padding-top: 15px;
}


.house-container {
    position: relative;
    padding-bottom: 40px;
}

.house-container__image-container {
    overflow: hidden;
}

.house-container__link {

}

.house-container__image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}

.house-container__non-bg-content {
    padding: 0 12px 10px 12px;
    background-color: #f0f0f0;
}

.house-container__title {
    padding-top: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #333333;
}

.house-container__cost {
    display: inline-block;
    padding-bottom: 8px;
    color: #908870;
    font-size: 18px;
}

.house-container__label {
    display: inline-block;
    padding-left: 8px;
    font-weight: bold;
    font-style: italic;
    color: var(--color-1);
}

.house-container__details {
    font-size: 0;
    color: #333640;
}

.house-container__details__beds {
    display: inline-block;
    font-size: 16px;
}

.house-container__details__baths {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
}

.house-container__details__parking-spaces {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
}

.house-container__details__stories {
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
}

.house-container__detials__house-size {
    display: inline-block;
    font-size: 16px;
}

.house-container__detials__lot-size {
    display: inline-block;
    padding-left: 20px;
    font-size: 16px;
}

.house-container__location {
    font-size: 16px;
    font-weight: bold;
    color: #336044;
    transform: skew(-12deg);
}

.house-container__description {
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
}


.house-container__image.over {
    animation: houseLoopIn 2s ease-in 0s 1;
    animation-fill-mode: forwards;
}

.house-container__image.out {
    animation: houseLoopOut 2s ease-in 0s 1;
    animation-fill-mode: forwards;
}



@keyframes houseLoopIn {
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        top: -5px;
        left: -40px;
        transform: scale(1.26);
    }

    100% {
        top: -30px;
        left: -50px;
        transform: scale(1.3);
    }
}

@keyframes houseLoopOut {
    0% {
        top: -30px;
        left: -50px;
        transform: scale(1.3);
    }

    50% {
        top: -5px;
        left: -40px;
        transform: scale(1.26);
    }

    100% {
        top: 0px;
        left: 0px;
    }
}


/*Sellers page*/
.background-hero-image.sellers {
    background: url('/assets/images/key-up-close-in-door.jpeg') 50% 30%/cover no-repeat;
}
#sellerButton {
    float: right;
}

/*Our Team page*/
.team-member {
    padding-bottom: 50px;
}

.team-member__name {
    padding-bottom: 8px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-1);
}

.team-member__photo {
    float: left;
    width: 150px;
    height: 150px;
    margin-right: 12px;
    margin-bottom: 8px;
    border-radius: 20px;
}

.team-member__title {
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-3);
}

.team-member__description {
}

.team-member.zero .team-member__photo {
    background: url('/assets/images/real-estate-agent-kelsey-smith.jpg') 50% 30%/cover no-repeat;
}
.team-member.one .team-member__photo {
    background: url('/assets/images/real-estate-agent-alex-contreras.jpg') 50% 30%/cover no-repeat;
}
.team-member.two .team-member__photo {
    background: url('/assets/images/real-estate-agent-kelly-rands.jpg') 50% 30%/cover no-repeat;
}
.team-member.three .team-member__photo {
    background: url('/assets/images/real-estate-agent-adam-evanton.jpg') 50% 30%/cover no-repeat;
}
.team-member.four .team-member__photo {
    background: url('/assets/images/real-estate-agent-brian-anderson.jpg') 50% 30%/cover no-repeat;
}
.team-member.five .team-member__photo {
    background: url('/assets/images/real-estate-agent-heather-richards.jpg') 50% 30%/cover no-repeat;
}


/*Contact Us page*/
.background-hero-image.contact-us {
    background: url('/assets/images/new-home-under-construction.jpg') 50% 30%/cover no-repeat;
}

/*Listings Page page*/
.listing-info {
    color: #808080;
}

.listing-info__price {
    display: inline-block;
    padding-bottom: 10px;
    font-size: 20px;
    color: #908870;
}

.listing-info__label {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: var(--color-1);
}

.listing-info__address {
    padding-bottom: 10px;
    font-weight: bold;
    color: #336044;
}

.listing-info__beds {
    padding-bottom: 2px;
}

.listing-info__baths {
    padding-bottom: 2px;
}

.listing-info__parking-spaces {
    padding-bottom: 2px;
}

.listing-info__stories {
    padding-bottom: 2px;
}

.listing-info__year-built {
    padding-bottom: 2px;
}

.listing-info__house-size {
    padding-bottom: 2px;
}

.listing-info__lot-size {
    padding-bottom: 2px;
}

.listing-info__short-description {
    padding-top: 30px;
    padding-bottom: 40px;
    font-style: italic;
    color: #908870;
}

.listing-info__description {
    padding-bottom: 15px;
}

.listing-info__category-text {
    font-weight: bold;
    color: #808080;
}

.background-hero-image.listing-page {
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
}


/*Error 404 page*/
.background-hero-image.four-hundred-four {
    background: url('/assets/images/new-home-under-construction.jpg') 50% 30%/cover no-repeat;
}


/*Error 500 page*/
.background-hero-image.five-hundred {
    background: url('/assets/images/new-home-under-construction.jpg') 50% 30%/cover no-repeat;
}


@media only screen and (min-width: 700px) and (max-width: 1199px){
    /*Listings page*/
    .house-container:nth-of-type(3n + 1) {
        content: "";
        display: block;
        clear: both;
    }
    
    /*Our team page*/
    .team-member:nth-of-type(2n + 1) {
        content: "";
        display: block;
        clear: both;
    }
}


@media only screen and (min-width: 1200px) {
    /*Our team page*/
    .team-member:nth-of-type(4n + 1) {
        content: "";
        display: block;
        clear: both;
    }
}




@media only screen and (min-width: 500px) {
    /* General sitewide sections */
    .background-hero-image {
        height: 340px;
    }

    /*Listings page*/
    .house-container__image {
        height: 320px;
    }
}



@media only screen and (min-width: 700px) {

    /*Header*/
    .logo-container {
        left: 80px;
    }

    /*Nav*/
    .mobile-nav__menu {
        left: 25px;
    }

    /*Listings page*/
    .house-container__image {
        height: 230px;
    }

    /*Sellers page*/
    .background-hero-image.sellers {
        height: 200px;
    }

    /*ListingPage page*/
    .listing-info__description {
        padding-bottom: 0;
    }
}



@media only screen and (min-width: 1200px) {

    .inner-wrapper {
        width: 1200px;
    }

    .form__input-container {
        padding: 15px;
    }

    .form__label {
        width: 35%;
        padding-bottom: 0;
        padding-right: 10px;
    }

    .form__input {
        width: 65%;
    }

    .background-hero-image {
        height: 450px;
    }


    /*Header*/
    .header {
        padding-bottom: 20px;
    }

    .main-title {
        padding-left: 90px;
        padding-top: 30px;
        text-align: left;
    }

    .logo-container {
        top: 20px;
        left: 15px;
        width: 60px;
        height: 60px;
    }

    /*Nav*/
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .mobile-nav__menu {
        display: none;
    }

    .nav {
        padding-top: 10px;
    }

    .nav__list {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .nav__nav-item {
        display: inline-block;
        padding-bottom: 0;
    }

    .nav__nav-link {
        padding-right: 30px;
    }


    /*Footer*/
    .footer__subheading {
        text-align: left;
    }

    .footer__subheading--browse {
    }

    .footer__copyright-info {
        padding-bottom: 0;
    }

    .footer__message {
        padding-bottom: 0;
    }

    .footer__navigation-section {
        padding-bottom: 0;
    }

    .footer__location-and-hours {
        padding-bottom: 0;
    }

    .footer__team {
    }

    .footer-nav__nav-item {
        display: block;
        padding-bottom: 20px;
    }

    /*Index page*/
    .index-house {
        width: auto;
        height: 300px;
        margin-bottom: 0;
    }


    /*Listings page*/
    .search-listings {
    }

    .search-listings__subsection {
        padding-bottom: 0;
    }

    .search-listings__search {
        margin-top: 17px;
    }

    .search-listings__show-all {
        margin-top: 17px;
    }


    .house-container {
    }

    .house-container__image {
        width: 370px;
        height: 240px;
    }


    /*Sellers page*/
    .background-hero-image.sellers {
        height: 240px;
    }


    /*Our Team page*/
    .team-member__name {
        font-size: 26px;
    }

    .team-member__title {
        font-size: 20px;
        text-align: center;
    }

    .team-member__photo {
        float: none;
        width: 100%;
        height: 280px;
        margin-right: 0;
        border-radius: 40px;
    }
}
